.dashboard-menu {
  grid-area: menu;
}

.menu-logo {
  margin-inline: 5rem;
  margin-top: -30px;
  margin-bottom: -30px;
}

.menu-button {
  margin-block: 0.5rem;
  margin-inline: 3.5rem;
  padding: 0.8rem;

  color: var(--primary-dark);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.menu-button-selected {
  background-color: var(--primary-light);
  border-radius: 20px;
}

.menu-premium-box {
  margin-top: 3rem;
  margin-inline: 2rem;
  padding-block: 3rem;
  padding-inline: 2rem;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    #afd5ff 0%,
    rgba(229, 241, 255, 0.22) 100%
  );
}

.menu-premium-text {
  color: var(--primary-dark);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-premium-button {
  margin-top: 2rem;
  padding: 0.4rem;
  border-radius: 20px;
  background: #1456a7;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
